<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit User - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container text-center">
    <div>
        <h1>New collection</h1>
    </div>
    <form th:action="@{'/profile/'+${collection.owner.id}+'/collections/add'}"
          method="post" style="max-width: 600px; margin: 0 auto;" th:object="${collection}">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">name: </label>
                <div class="col-8">
                        <input type="text" th:field="*{name}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">description: </label>
                <div class="col-8">
                    <textarea class="form-control" id="markdown" name="markdown" rows="10" th:field="${collection.description}"></textarea>
                    <input type="hidden" th:value="${collection.owner.id}" th:name="userId">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Topic: </label>
                <div class="col-8">
                    <div class="form-group blu-margin">
                        <select class="form-control" th:field="*{topic}" id="topic" name="topic">
                            <option value="">Select topic</option>
                            <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}"></option>
                        </select>

                    </div>
                </div>
            </div>
            <h5>Optional fields</h5>
            <p>To add a field type enter the name of the desireable field</p>
            <div class="form-group row">
                <label class="col-4 col-form-label">textfield: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{textfield1}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">textfield: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{textfield2}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">textfield: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{textfield3}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">single line field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{stringfield1}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">single line field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{stringfield2}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">single line field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{stringfield3}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">number field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{numberfield1}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">number field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{numberfield2}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">number field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{numberfield3}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">date field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{datefield1}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">date field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{datefield2}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">date field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{datefield3}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">boolean field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{booleanfield1}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">boolean field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{booleanfield2}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">boolean field: </label>
                <div class="col-8">
                    <input type="text" class="form-control" rows="10" th:field="*{booleanfield3}"></input>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>