<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Delete item</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div>
    <div class="title">
        <h1 th:text="'Deleting item'">hello</h1>
    </div>
    <div class="sub-title">
        <h3 th:text="'Are you sure you want to delete'+${item.getName()}"></h3>
        <form th:action="@{'/profile/'+${collection.owner.id}+'/collections/'+${collection.id}+'/delete_item'}" th:object="${item}"
              method="post">
            <button type="submit" class="btn btn-primary">delete</button>
        </form>
    </div>
</div>
</body>
</html>