<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container">
    <h6>Users</h6>
                <table>
                    <!--/*@thymesVar id="listUsers" type="java.util.List<com.example.project.entity.User>"*/-->
                    <th:block th:each="user : ${listUsers}">
                        <tr>
                            <td>
                                <a th:href="@{'/profile/' + ${user.id}}" th:text="${user.getFullName()}" />
                            </td>
                        </tr>
                    </th:block>
                </table>
</div>

</body>
</html>