<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div th:replace="~{header :: header}"></div>
<br>
<div class="container-fluid">
<div class="row">
<div class="container ml-3 col-2" >
    <h6>Users</h6>
                <table>
                    <!--/*@thymesVar id="listUsers" type="java.util.List<com.example.project.entity.User>"*/-->
                    <th:block th:each="user : ${listUsers}">
                        <tr>
                            <td>
                                <a th:href="@{'/profile/' + ${user.id}}" th:text="${user.getFullName()}" />
                            </td>
                        </tr>
                    </th:block>
                </table>
</div>
    <div class="col-8" th:replace="profile.html :: div.col-8"> </div>
    <div class="col-2">
        <h6>Latest added items</h6>
        <table>
            <!--/*@thymesVar id="listUsers" type="java.util.List<com.example.project.entity.User>"*/-->
            <th:block th:each="item : ${items}">
                <tr>
                    <td>
                        <a th:href="@{'/profile/'+${item.collection.owner.id}+'/collections/' + ${item.collection.id}+'/view_item/' + ${item.id} }" th:text="${item.name}"></a>
<!--                        <a th:href="@{'/profile/' + ${user.id}}" th:text="${user.getFullName()}" />-->
                    </td>
                </tr>
            </th:block>
        </table>
        <hr>
        <h6>Top 5 collections</h6>
        <table>
            <!--/*@thymesVar id="listUsers" type="java.util.List<com.example.project.entity.User>"*/-->
            <th:block th:each="col : ${cols}">
                <tr>
                    <td>
                        <a  th:href="@{'/profile/'+${col.owner.id}+'/collections/' + ${col.id}+'/view'}",  th:text="${col.name}">
                            Name
                        </a>
                        <!--                        <a th:href="@{'/profile/' + ${user.id}}" th:text="${user.getFullName()}" />-->
                    </td>
                </tr>
            </th:block>
        </table>
        <hr>
        <h6>Tags</h6>
        <div class="row">
        <div class="col-6">
        <table>
            <!--/*@thymesVar id="listUsers" type="java.util.List<com.example.project.entity.User>"*/-->
            <th:block th:each="tag : ${tags}">
                <tr>
                    <td>
                        <form th:action="@{'/tags/'+${tag.id}}">
                            <button type="submit" class="btn btn-primary" th:text="${tag.name}"></button>
                        </form>
<!--                        <a  th:href="@{'/profile/'+${col.owner.id}+'/collections/' + ${col.id}+'/view'}",  th:text="${tag.name}">-->
<!--                        </a>-->
                        <!--                        <a th:href="@{'/profile/' + ${user.id}}" th:text="${user.getFullName()}" />-->
                    </td>
                </tr>
            </th:block>
        </table>
        </div>
        <div class="col-6" th:replace="search_results.html :: div.col-1"> </div>
        </div>
    </div>

</div>
<!--<h3><a th:href="@{/collections}">Collections</a></h3>-->
</div>
</body>
</html>