<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="~{header :: header}"></div>
<div>
    <form th:action="@{/searchResults}">
        <input type="hidden" th:value = "${filter}"/>
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        <input type="submit" value="Search" />
    </form>
</div>
<div class="row">
<div class="col-4">
    <h6>Users</h6>
                <table>
                    <!--/*@thymesVar id="listUsers" type="java.util.List<com.example.project.entity.User>"*/-->
                    <th:block th:each="user : ${listUsers}">
                        <tr>
                            <td>
                                <a th:href="@{'/profile/' + ${user.id}}" th:text="${user.getFullName()}" />
                            </td>
                        </tr>
                    </th:block>
                </table>
</div>
    <div class="col-8" th:replace="profile.html :: div.col-8"> </div>
</div>
<!--<h3><a th:href="@{/collections}">Collections</a></h3>-->
</body>
</html>