<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit User - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#Tag_Name").autocomplete({
                source: "tagsAutocomplete",
                minLength: 3,
                select: function(event, ui) {
                    this.value = ui.item.label;
                    $("#Tag_ID").val(ui.item.value);
                    return false;
                }
            });

        });
    </script>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container text-center">
    <div>
        <h1>New item </h1>
    </div>
    <form th:action="@{'/profile/'+${item.collection.owner.id}+'/collections/' + ${item.collection.id}+'/add_item'}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label" >name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{item.name}" class="form-control" required />
                    <input type="hidden" th:value="${item.id}" th:name="item_id">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Tags: </label>
                <div class="col-8">
                    <input type="text" th:value="${other}" class="form-control" th:name="otherTag"/>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>