<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-8">
<div class="container" th:if="${user != null}"><span th:text="${user.getFullName()}"></span>
<div class="container"></div>
    <div class="container" sec:authorize="isAuthenticated()"><a th:if="${#authentication.getPrincipal().getId()} eq ${user.id} or ${#authentication.getPrincipal().getRole()}" th:href="@{'/profile/'+${user.id}+'/collections/new'}">add</a></div>
    <h6>Collections</h6>
    <table>
        <th:block th:each="col : ${collections}">
            <tr>
                <td>
                    <div sec:authorize="isAuthenticated()">
                        <a  th:if="${#authentication.getPrincipal().getId()} eq ${user.id} or ${#authentication.getPrincipal().getRole()}" th:href="@{'/profile/'+${col.owner.id}+'/collections/' + ${col.id}+'/view'}",  th:text="${col.name}">
                            Name
                        </a>
                        <span th:unless="${#authentication.getPrincipal().getId()} eq ${user.id} or ${#authentication.getPrincipal().getRole()}" th:text="${col.name}"></span>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <span th:text="${col.name}"></span>
                    </div>
                    <div th:utext="${col.markdown}">Content</div>
                </td>
            </tr>
        </th:block>
    </table>
</div>
</div>
</body>
</html>