<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container-fluid">
    <br>
<div class="row">
    </br>
    <div class="col-4">
        <form th:action="@{/users/topics/action}" method="post" th:field="${listTopics}">
            <div class="row align-items-center">
                <div class="col">
                    <button type="submit" name="add" class="btn btn-primary">Add</button>
                    <button type="submit" name="delete" class="btn btn-primary">Delete</button>
                </div>
            </div>
            </br>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Select</th>
                        <th>Topics</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="topic: ${listTopics}">
                        <td><input type="checkbox" th:name="ids"
                                   th:value="${topic.id}" class="m-2" /></td>
                        <td th:text="${topic.name}"></td>
                        <!--                <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <div class="col-8">
        <form th:action="@{/users/select}" method="post" th:field="${listUsers}">
        <div class="row align-items-center">
            <div class="col">
                <button type="submit" name="delete" class="btn btn-primary">Delete</button>
                <button type="submit" name="block" class="btn btn-primary">Block</button>
                <button type="submit" name="toAdmin" class="btn btn-primary">To admin</button>
            </div>
        </div>
        </br>
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Select </th>
                    <th>E-mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${listUsers}">
                    <td><input type="checkbox" th:name="ids"
                               th:value="${user.id}" class="m-2" /></td>
                    <td th:text="${user.email}">E-mail</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td th:text="${user.roles}">Roles</td>
                    <td th:text="${user.getIsactive()}">Status</td>
                    <!--                <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a></td>-->
                </tr>
                </tbody>
            </table>
        </div>
        </form>
    </div>
</div>

</div>
</body>
</html>