<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>List of collections</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h1>List of Collections</h1>
</div>
<div class="container text-center">
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="col: ${collections}">
                <td th:text="${col.id}">Collection ID</td>
                <td th:text="${col.name}">E-mail</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>