<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="ISO-8859-1">
    <title>View item</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container">
    <div class="col">
        <form th:action="@{'/profile/'+${item.collection.owner.id}+'/collections/' + ${item.collection.id}+'/view_item/' + ${item.id}+'/add_like' }" th:object="${like}">
            <h4><span th:text="${item.name}"></span></h4>
            <button type="submit" class="btn btn-default">
                    <svg th:if="${liked}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                    <svg th:unless="${liked}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    <span th:text="${size}"></span>
                </button>
        </form>
    </div>

    <div class="col">
        Collection:
        <a th:href="@{'/profile/'+${item.collection.owner.id}+'/collections/'+${item.collection.id}+'/view'}" th:text="${item.collection.name}"></a>
        by
        <a th:href="@{'/profile/'+${item.collection.owner.id}}" th:text="${item.collection.owner.getFullName()}"></a>
    </div>
    <div class="col">
        Tags:
        <ul>
            <li th:each="tag:${item.tags}" th:text="${tag.name}"></li>
        </ul>
    </div>
</div>
<div class="container" >
    <div class="container" sec:authorize="isAuthenticated()">
        <hr>
        <h4>Your comment</h4>
    <form th:action="@{'/profile/'+${item.collection.owner.id}+'/collections/' + ${item.collection.id}+'/view_item/' + ${item.id}+'/add_comment' }" th:object="${curcomment}">
        <div class="col-8">
            <textarea class="form-control" id="markdown" name="markdown" rows="10" th:field="*{content}"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    </div>
<hr>
    <h6>Comments</h6>
        <!--/*@thymesVar id="listUsers" type="java.util.List<com.example.project.entity.User>"*/-->
        <th:block th:each="comment : ${comments}">
            <div class="row">

                    <div class="card w-100">
                        <form th:action="@{'/profile/'+${item.collection.owner.id}+'/collections/' + ${item.collection.id}+'/view_item/'+${item.id}+'/action'}">
                            <input type="hidden" th:value="${comment.id}" th:name="commentId">
                            <input type="hidden" th:value="${comment.user.id}" th:name="user">
                        <div class="row">

                            <div class="col-11 card-header">
                                <span th:text="${comment.user.getFullName()}"></span>
                            </div>

                            <div class="col-1 card-header" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getId()} eq ${comment.user.id}">
                                <button type="submit" name="delete" class="btn btn-primary">Delete</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container">

                            </div>
                            <blockquote class="blockquote mb-0">
                                <div th:utext="${comment.markdownToHtml()}"></div>
                            </blockquote>
                        </div>
                        <div class="card-footer text-muted">
                            <span th:text="${comment.creationDate}"></span>
                        </div>
                        </form>
                    </div>

            </div>
            <br>
        </th:block>
</div>
</body>
</html>